body {
  background: url("nz_shoes.jpg") no-repeat center center fixed;
  background-size: cover;
  min-height: 100%;
}

h1 {
  text-align: center;
  margin: 0 auto;
  width: 100%;
  padding-top: 2.8em;
  text-shadow: 2px 2px #000;
}

#content {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 26px; 
  text-align: right;
  /*margin: 0 auto;*/
  width: 35%;
  padding: 4em 0 0 64%;
  color: white;
  text-shadow: 2px 2px #000;
  /*background-color: rgba(5,5,5,0.5);*/

}

.intro {
  color: white;
  font-family: 'Amatic SC', sans-serif;
  font-size: 40px;
}

.highlight {
  color: white;
  /*font-family: 'Sacramento', cursive;*/
  font-size: 120px;
}

.icon-row-container {
  margin: 0 auto;
  width: 680px;
}

#friends {
  width: 240px;
}

#waterpolo {
  width: 120px;
  padding: 0 0 20px 20px;
}

#guitar {
  width: 130px;
}

#notebook {
  width: 110px;
}s