<!-- <div id="container"></div> -->
<br>
<br>
<h1>
  <span class="intro">Hi, my name is </span>
  <br>
  <span class="intro highlight">Madeline Savant</span>
</h1>
<br>
<div class="icon-row-container">
<!-- <span class="icon-row"><img src="notebook.png" id="notebook"></span> -->

</div>
<br>
<br>
<div id="content">My site is under construction, but please check back soon for things like my resume, travel photos, links to my blogs, and much more!</div>