<div class="container">
  <h1>crystalslist</h1>
  <h3><%= @current_post.title %></h3>

  <ul>
  <li><strong>Description:</strong> <%= @current_post.description %></li>
  <li><strong>Price:</strong> <%= @current_post.price %></li>
  <li><strong>Email:</strong> <%= @current_post.email %></li>
  </ul>

  <div class="cover"></div>
</div>
